:root{
    /*color*/
    --main-color:#ef885a;
    /*font-color*/
    --Brown:#4C4338;
    --gray-color:#c2c2c2;
    --gray-color2:#939393;
    --gray-color3:#C0C0C2;
    --dark-gray:#353535;
    --black-color:#000;
    --app-height: 100%;
}